// test/{source_path}_test.dart
import 'package:flutter_test/flutter_test.dart';

void main() {
  group('{target_name}', () {
    test('{condition_and_expected_result}', () {
      // arrange

      // act

      // assert
    });
  });
}
